$title_color: #4C3D74;
$btn_color: #A387C4;
$main_color: #4C3D74;
$title_size: 50px;

@font-face {
    font-family: Futura;
    src: url(../fonts/FuturaBookC.ttf);
    font-weight: 800;
}
*{
    margin: 0;
    padding: 0;
    block-size: border-box;
    font-family: Futura;
    text-transform: uppercase;
    line-height: 1.5;
    @media (max-width: 415px) {
        overflow-x: hidden;
    }
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
    @media(max-width: 1024px){
        max-width: unset;
        padding: 0 10px;
    }
    @media(max-width: 415px){
        padding: 0 28px;
    }
}

.header{
    background-color: $main_color;
    padding-top: 100px;
    @media(max-width: 1024px){
        padding-top: 20px;
    }
    @media(max-width: 415px){
        padding-top: 89px;
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        &-text{
            font-size: 14px;
            color: #fff;
        }
    }
    &__burger{
        display: none;
        @media(max-width: 415px){
            display: block;
        }
    }
    &__menu{
        display: flex;
        gap: 27px;
        @media(max-width: 415px){
            display: none;
        }
    }
    &__link{
        color: #fff;
        font-size: 14px;
    }

}
.btn{
    color: #fff;
    font-size: 16px;
    padding: 20px 65px;
    background-color: $btn_color;
    border-radius: 30px;
    border: 3px solid $btn_color;
    &_o{
        background-color: transparent;
        
    }
}
.main{
    background-color: $main_color;
    height: 90vh;
    display: flex;
    align-items: center;
    @media(max-width: 415px){
        height: unset;
        padding: 100px 0;
    }
    &__wrap{
        display: flex;
        align-items: end;
        @media(max-width: 415px){
            flex-direction: column;
            align-items: center;
        }
    }
    &__block{
        @media(max-width: 415px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__text{
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
        max-width: 390px;
        @media(max-width: 415px){
            font-size: 16px;
            text-align: center;
            margin-bottom: 27px;
        }
    }
    &__title{
        color: #fff;
        font-size: $title_size;
        margin-bottom: 30px;
        @media(max-width: 415px){
            font-size: 30px;
            text-align: center;
            margin-bottom: 27px;
            width: 300px;
        }
    }
    &__btns{
        margin-top: 44px;
        display: flex;
        gap: 24px;
        @media(max-width: 415px){
            flex-direction: column;
            margin-top: 27px;
        }
    }
    &__pic{
        margin-right: -70px;
        & img{
            width: 100%;
        }
        @media (max-width: 768px) {
            display: none;
        }
        @media(max-width: 415px){
            display: block;
            width: 309px;
            margin-right: 0;
        }
    }
}

.section-title{
    color: #504178;
    font-size: $title_size;
    font-weight: 900;
    text-align: center;
}
.intensive{
    padding-top: 167px;
    @media(max-width: 415px){
        padding-top: 140px;
    }
    .container{
        position: relative;
        padding-bottom: 180px;
        @media (max-width: 768px){
           padding-bottom: 220px;
        }
        @media(max-width: 415px){
            padding-bottom: 240px;
        }
    }
    &__woman{
        position: absolute;
        right: 0;
        bottom: 0;
        @media (max-width: 768px){
            width: 215px;
            height: 215px;
        }
        @media(max-width: 415px){
           right: 50%;
           transform: translateX(50%);
        }
    }
    &__card-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 45px;
        padding-bottom: 45px;
        @media(max-width: 415px){
            flex-direction: column;
            gap: 40px;
        }
    }
    &__card{
        border: 3px solid #4C3D74;
        border-radius: 30px;
        padding: 35px 30px 41px 55px;
        background-color: #F2EEF7;
        max-width: 335px;
        display: flex;
        align-items: center;
        gap: 7px;
        margin-left: 30px;
        @media (max-width: 768px){
            padding: 35px 25px 41px 55px;
        }
        &:nth-child(2) p{
            @media(max-width: 415px){
                order: -1;
            }
        }
        &:nth-child(2) img{
            @media(max-width: 415px){
                margin-left: -10px;
            }
        }
    
    img{
        margin-left: -95px;
        @media(max-width: 415px){
           width: 61px;
           height: 61px;
           margin-top: -160px;
           position: absolute;
  margin-left: -64px;
        }
    }
    p{
        font-size: 16px;
        span{
            color: $title_color;
            font-weight: 800;
            font-size: 18px;
        }
    }
    .revers{
        @media (max-width:415px) {
            position: absolute;
            margin-left: 200px;
        }
    }
}
    &__bottom-part{
        display: flex;
        align-items: center;
        gap: 33px;
        @media(max-width: 415px){
            flex-direction: column;
        }
        p{
            max-width: 440px;
            font-size: 20px;
            color: $main_color;
            @media(max-width: 415px){
                text-align: center;
            }
        }
    }
}
.present{
    background-color: $main_color;
    &__string-1{
        display: flex;
        gap: 23px;
        @media(max-width: 415px){
            display: block;
        }
    }
    p{
         color: #fff;
    }
    &__text{
        gap: 23px;
        display: flex;
    }
    .pip{
        font-weight: 800;
        font-size: 25px;
    }
    &__string-2{
        display: flex;
        gap: 42px;
        @media(max-width: 415px){
            display: block;
        }
    }
    &__gift{
        gap: 20px;
        margin-top: 40px;
        display: flex;
    }
    .section-title{
        margin-top: 146px;
        color: #fff;
    }
    &__main-text{
        width: 660px;
        margin-top: 30px;
        margin-bottom: 39px;
        @media(max-width: 415px){
            max-width: 298px;
        }
    }
    &__hour{
        margin-top: 20px;
        @media(max-width: 415px){
            max-width: 319px;
        }
    }
    &__title{
        color: #fff;
        font-size: 50px;
    }
    &__text2{
        color: #fff;
        font-size: 16px;
        @media (max-width: 415px) {
            max-width: 134px;
        }
    }
    &__year{
        margin-top: 20px;
        padding-left: 148px;
        @media (max-width: 415px) {
            margin-top: -123px;
        }
    }
    &__title-year{
        color: #fff;
        font-size: 50px;
        @media(max-width: 1025px){
            padding-left: 50px;
        }
    }
    &__text2-year{
        color: #fff;
        font-size: 16px;
        @media(max-width: 1025px){
            padding-left: 50px;
            width: 300px;
        }
    }
    &__year-you{
        margin-top: 20px;
        padding-left: 100px;
        @media(max-width: 415px){
            margin-top: -122px;
            margin-left: 30px;
        }
    }
    &__july{
        margin-left: 700px;
        margin-top: -470px;
        @media(max-width: 416px){
            margin-left: auto;
            margin-top: 10px;
        }
    }
    &__under-text{
        color: #fff;
        width: 630px;
        margin-top: 30px;
        @media(max-width: 415px){
            max-width: 313px;
            margin-top: 30px;
        }
    }
    
    

}
.text__gift{
        font-size: 19px;
    }
.proggram{
    margin-top: 169px;
    @media (max-width: 417px) {
        height: 2000px;
    }
    &__upper__line{
        background-color: #4C3D74   ;
        height: 3px;
        width: 1160px;
        margin-bottom: 21px;
        margin-top: 21px
    }
    &__text{
        display: flex;
        font-size: 19px;
        color: $main_color;
        margin-top: 16px;
        @media (max-width: 417px) {
            margin-left: 57px;
            width: 289px;
        }
        &__width2{
            width: 400px;
        }
    }
    &__plus{
        padding-left: 940px;
        @media (max-width: 417px) {
            padding-left: 70px;
        }
    }
    &__plus2{
        padding-left: 791px;
        @media (max-width: 417px) {
            padding-left: 38px;
        }
    }
    &__plus3{
        padding-left: 730px;
        @media (max-width: 417px) {
            padding-left: 32px;
        }
    }
    &__plus4{
        padding-left: 905px;
        @media (max-width: 417px) {
            padding-left: 32px;
        }
    }
    &__plus5{
        padding-left: 414px;
        @media (max-width: 417px) {
            padding-left: 32px;
        }
    }
    &__plus6{
        padding-left: 290px;
        @media (max-width: 417px) {
            padding-left: 10px;
        }
    }
    &__plus7{
        padding-left: 725px;
        @media (max-width: 417px) {
            padding-left: 10px;
        }
    }
    &__plus8{
        padding-left: 495px;
        @media (max-width: 417px) {
            padding-left: 12px;
        }
    }
    &__plus9{
        padding-left: 830px;
        @media (max-width: 417px) {
            padding-left: 32px;
        }
    }
    &__btn{
        margin-top: 50px;
        margin-bottom: 121px;
        @media (max-width: 415px) {
            margin-top: 68px;
        width: 234px;
        height: 45px;
        padding-top: 21px;
        margin-left: 51px;
    }
}
    &__upper__line__last{
        background-color: #4C3D74   ;
        height: 3px;
        width: 1160px;
        margin-bottom: 21px;
        margin-bottom: 60px;
    }
    &__foot{
        display: flex;
        @media (max-width: 415px) {
            display: block;
        }
    }
    &__think{
        margin-top: 60px;
        font-size: 20px;
        color: #4C3D74;
        padding-left: 40px;
        @media (max-width: 415px) {
            width: 239px;
            text-align: center;
        }
    }
    &__woman{
        padding-left: 330px;
        @media (max-width: 417px) {
            margin-left: -275px;
        }
    }
    hr{
        @media (max-width: 417px) {
            width: 300px;
            margin-left: 57px;
        }
    }
    }
    .trafic{
    height: 1100px;
    background-color: #4C3D74;
    @media (max-width: 415px) {
        height: 2616px;
    }
    .section-title{
        padding-top: 169px;
        color: white;
        font-size: $title_size;
        font-weight: 900;
        text-align: center;
    }
    &__card{
        background-color: #fff;
        width: 365px;
        height: 530px;
        border-radius: 30px;
        @media (max-width: 415px) {
            margin-bottom: 67px;
        }
        &__title{
            font-size: 24px;
            color: #4C3D74;
            text-align: center;
            font-weight: 900;
            padding-top: 30px;
        }
        &__list{
            display: flex;
            padding-left: 39px;
            margin-bottom: 10px;
        }
        &__text{
            font-size: 20px;
            padding-left: 10px;
            color: #4C3D74;
        }
        &__girl{
            position: absolute;
            margin-left: 280px;
            margin-top: -80px;
        }
    }
    &__row{
        margin-top: 108px;
        display: flex;
        gap: 38px;
        @media (max-width: 415px) {
            display: block;
        }
    }
    &__plus{
        font-size: 24px;
        font-weight: 900;
    }
    &__day{
        font-size: 22px;
        color: #4C3D74;
        font-weight: 900;
        padding-left: 36px;
    }
    &__pay{
        display: flex;
        &__rub{
            padding-left: 55px;
            color: #4C3D74;
        }
        &__text{
            color: #4C3D74;
            padding-left: 36px;
        }
    }
    &__btn{
        position: absolute;
        margin-top: 4px;
        margin-left: 63px;
        @media (max-width: 415px) {
            position: relative;
        }
    }
    &__foot{
        margin-top: 96px;
        display: flex;
        @media (max-width: 415px) {
            display: block;
            text-align: center;
        }
        &__text{
            width: 573px;
            color: #fff;
            padding-left: 30px;
            @media (max-width: 415px) {
                width: 314px;
            }
        }
        &__btn{
            padding: 20px 43px;
            text-align: center;
            width: 158px;
            color: #fff;
            border: 4px solid #A387C4;
            border-radius: 30px;
            @media (max-width: 415px) {
                position: absolute;
                margin-left: -123px;
            }
        }
        &__htac{
            color: #fff;
            padding-top: 25px;
            padding-left: 44px;
            font-size: 16px;
            @media (max-width: 415px) {
                margin-top: 58px;
            }
        }
    }
}
.quest{
    margin-top: 156px;
    .section-title{
        @media (max-width: 415px) {
            width: 244px;
      font-size: 30px;
      margin-left: 56px;
        }
    }
    .proggram__upper__line{
        @media (max-width: 415px) {
            width: 300px;
            margin-left: 39px;
        }
    }
    .proggram__text{
        @media (max-width: 415px) {
            width: 254px;
        }
        &_2{
            @media (max-width: 415px) {
                width: 257px;
            }
        }
    }
    &__plus5{
        padding-left: 826px;
        @media (max-width: 415px) {
            padding-left: 2px;
            font-size: 30px;
        }
    }
    &__plus6{
        padding-left: 570px;
        @media (max-width: 415px) {
            padding-left: 2px;
            font-size: 30px;
        }
    }
    &__foot{
        display: flex;
        @media (max-width: 415px) {
            display: block;
        }
        &__text{
            font-size: 20px;
            color: #4C3D74;
            padding-left: 30px;
            @media (max-width: 415px) {
                margin-left: 30px;
            }
        }
    }
    &__btn{
        text-transform: uppercase;
        margin-left: 50px;
        margin-bottom: 173px;
        @media (max-width: 415px) {
            position: absolute;
            margin-top: 33px;
        }
    }
    &__woman{
       padding-left: 173px;
       @media (max-width: 415px) {
        margin-top: 145px;
        padding-left: 52px;
       }
    }
    &__tg{
        margin-bottom: 173px;
        @media (max-width: 415px) {
            margin-bottom: -66px;
        }
    }
}
.footer{
    background-color: #251933;
    height: 350px;
    &__row{
        display: flex;
        padding-top: 125px;
        justify-content: space-between;
        color: #fff;
    }
    &__july{
        display: block;
        font-size: 20px;
        gap: 8px;
    }
    &__up{
        display: block;
        font-size: 20px;
        gap: 8px;
    }
    &__kon{
        display: block;
        font-size: 20px;
        gap: 8px;
    }
    &__kon{
        @media (max-width: 415px) {
            margin-top: 86px;
    position: absolute;
        }
    }
    &__up{
        @media (max-width:415px) {
            margin-top: 167px;
    position: absolute;
        }
    }

}
.up{
    text-align: center;
    padding-bottom: 40px;
    @media (max-width:415px) {
        text-align: inherit;
        padding-bottom: 0px;
    }
}